# Q1. Create one variable containing following type of data:

In [1]:
#string
a = "PWSKILLS"
print (a)
type(a)

PWSKILLS

str

In [2]:
#list
l = [1,2,5,7, True, "Data Science", 22.56]
print(l)
type(l)

[1, 2, 5, 7, True, 'Data Science', 22.56]

list

In [3]:
#float
f = 55.56
print (f)
type (f)

55.56

float

In [4]:
#tuple
t = (1,2,3,4, True, [1,2,"Tuple"], 2.45)
print (t)
type (t)

(1, 2, 3, 4, True, [1, 2, 'Tuple'], 2.45)

tuple

# Q2. Given are some following variables containing data:

In [5]:
var1 = ''
print (var1)
type (var1)
# var 1 is a string

str

In [6]:
var2 = '[ DS , ML , Python]'
print (var2)
type (var2)
# var2 is a string

[ DS , ML , Python]

str

In [7]:
var3 = ['DS' , 'ML' , 'Python']
print (var3)
type (var3)
# var3 is a list

['DS', 'ML', 'Python']

list

In [8]:
var4 = 1
print (var4)
type (var4)
# var4 is an integer

1

int

# Q3. Explain the use of the following operators using an example:

In [9]:
# / (division operator) - It is used for dividing integers
25/5

5.0

In [10]:
# % (Modulus operator) - It is used for getting remainder
26%5

1

In [11]:
# // ( Floor or Integral Division ) It is used to find quotient and remove remainder part
26//5

5

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [12]:
l = [1,1.5,"PWSkills",True,2,2.36,"Data Science",False,35,78]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
1.5
<class 'float'>
PWSkills
<class 'str'>
True
<class 'bool'>
2
<class 'int'>
2.36
<class 'float'>
Data Science
<class 'str'>
False
<class 'bool'>
35
<class 'int'>
78
<class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [28]:
A = int(input("Enter the value of number A: "))
B = int(input("Enter the value of number B: "))

count = 0  # Variable to keep track of the number of divisions

while A % B == 0:
    A = A // B  # Divide A by B
    count += 1  # Increment the count of divisions

if count > 0:
    print(f"{B} is a divisor of A, and it can be divided {count} times.")
else:
    print(f"{B} is not a divisor of A.")

Enter the value of number A:  25
Enter the value of number B:  5

5 is a divisor of A, and it can be divided 2 times.

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [32]:
l1=list(range(1,26))
for i in l1:
    if i % 3==0:
        print(f"element {i} is divisible by 3")
    else:
        print (f"element {i} is not divisible by 3")

element 1 is not divisible by 3
element 2 is not divisible by 3
element 3 is divisible by 3
element 4 is not divisible by 3
element 5 is not divisible by 3
element 6 is divisible by 3
element 7 is not divisible by 3
element 8 is not divisible by 3
element 9 is divisible by 3
element 10 is not divisible by 3
element 11 is not divisible by 3
element 12 is divisible by 3
element 13 is not divisible by 3
element 14 is not divisible by 3
element 15 is divisible by 3
element 16 is not divisible by 3
element 17 is not divisible by 3
element 18 is divisible by 3
element 19 is not divisible by 3
element 20 is not divisible by 3
element 21 is divisible by 3
element 22 is not divisible by 3
element 23 is not divisible by 3
element 24 is divisible by 3
element 25 is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [52]:
# mutable data type is a data type that can be manipulated or changed after creation. For example - List, Dictionary
#Example for mutable data types - Dictionary
dit={"ramesh":1,"suresh":2}        # a dictionary
dit.update({'Adii':3,"Tabish":4})  # mutating dictionary 
dit

{'ramesh': 1, 'suresh': 2, 'Adii': 3, 'Tabish': 4}

In [57]:
# immutable data type is a data type that cannot be manipulated or changed after creation. For example - Tuple, String
st="Data Science"
st[1]='z' # if we execute this, we get an error saying that string object does not support item assignment